.font-montserrat {
    font-family: 'Montserrat', sans-serif !important;
  }
  .font-satoshi {
    font-family: 'satoshi', sans-serif !important;
  }
  .font-blackwild {
    font-family: 'Back Wild' !important;
  }